<section style="background-color: #eee;" id="htmlContainer">
  <div id="etus" class="container-fluid pt-2">
    <div class="row">
      <div class="col-md-8">
        <div #htmlContainer22 class="card">
          <div class="green-bar"></div>
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-center h-100 ml-2">
                <img src="/assets/img/logo_inti.png" width="120" height="120" alt="Logo INTI">
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </div>
         
          <div class="video-container">
            <video width="640" height="360" controls>
              <source [src]="videoUrl" type="video/mp4">
              Votre navigateur ne supporte pas la vidéo.
            </video>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>