<div class="grid">
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h3>Ajouter un Client</h3>
      <form [formGroup]="newClientFormGroup" (ngSubmit)="handleSaveClient()">
			<div class="field">
				<label htmlFor="nom">Nom</label>
				<input pInputText id="nom" type="text" formControlName="nom" />
        <span class="text-danger" *ngIf="newClientFormGroup.controls['nom'].touched
                  && newClientFormGroup.controls['nom'].errors
                  && newClientFormGroup.controls['nom'].errors!['required']">
            nom is Required
          </span>
			</div>
			<div class="field">
				<label htmlFor="familleName">Prénom</label>
				<input pInputText id="prenom" type="text" formControlName="prenom" />
        <span class="text-danger" *ngIf="newClientFormGroup.controls['prenom'].touched
                  && newClientFormGroup.controls['prenom'].errors
                  && newClientFormGroup.controls['prenom'].errors!['required']">
            Prénom is Required
          </span>
			</div>
			<div class="field">
				<label htmlFor="raisonSociale">Raison sociale </label>
				<input pInputText id="raisonSociale" type="text" formControlName="raisonSociale" />
        <span class="text-danger" *ngIf="newClientFormGroup.controls['raisonSociale'].touched
                  && newClientFormGroup.controls['raisonSociale'].errors
                  && newClientFormGroup.controls['raisonSociale'].errors!['required']">
                  Raison sociale is Required
          </span>
			</div>
      <div class="field">
				<label htmlFor="email">Email</label>
				<input pInputText id="email" type="email" formControlName="email" />
        <span class="text-danger" *ngIf="newClientFormGroup.controls['email'].touched
                  && newClientFormGroup.controls['email'].errors
                  && newClientFormGroup.controls['email'].errors!['email']">
            Email is not valid
          </span>
			</div>

            <button pButton pRipple [disabled]="!newClientFormGroup.valid" label="Enregistrer"></button>
    </form>
		</div>
		
	</div>