<div class="col-12">
  <div class="card">

    
    <h3>Gestion des formations</h3>
            <p-toolbar *ngIf="!authService.roles.includes('APPRENANT')" styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter une Formation" icon="pi pi-plus" class="p-button-success mr-2" (click)="ajouterFormation()" ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            
              <div class="grid p-fluid">
                <div class="col-12">
                    <div class="card">
                        <h5>Carousel</h5>
                        <p-carousel [value]="listeFormation" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                            <ng-template let-formation pTemplate="item">
                                    <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                                        <div class="my-5">
                                          <img 
                                            [src]="baseUrl+formation.imageUrl" 
                                            [alt]="formation.profile.libelle" 
                                            class="shadow-4" 
                                            [ngStyle]="{'width': listeFormation.length < 3 ? '20%' : '50%'}" 
                                            height="100"  
                                          />
                                        </div>
                                        <div>
                                            <h5 class="mb-1">{{formation.profile.libelle}}</h5>
                                            <h6 class="mt-0 mb-3"></h6>
                                            <div class="my-5">
                                                <button pButton pRipple icon="pi pi-info-circle" class="mr-2 p-button-rounded" pTooltip="Détails de la formation" tooltipPosition="top" (click)="openModal(formation)"></button>
                                                <button pButton pRipple icon="pi pi-book" class="mr-2 p-button-rounded p-button-success" pTooltip="Consulter la formation" (click)="showFormation(formation.id)" tooltipPosition="top"></button>
                                                <button *ngIf="authService.roles.includes('ADMIN')" pButton pRipple icon="pi pi-users" pTooltip="Affecter la formation" class="mr-2  p-button-rounded p-button-info" (click)="openModalAffectation(formation)"></button>
                                                <button *ngIf="!authService.roles.includes('APPRENANT')" pButton pRipple icon="pi pi-pencil" pTooltip="Modifier la formation" class="mr-2  p-button-rounded p-button-warning" (click)="modifierFormation(formation.id)"></button>

                                            </div>
                                        </div>
                                    </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                </div>
            </div>
            
         
  </div>
</div>

<p-dialog header="Détails de la formation {{ (formationModal && formationModal.profile) ? formationModal.profile.libelle : '' }} " [(visible)]="visibleDetails" (onHide)="onDialogHide()" [style]="{width: '60vw'}">
  <div *ngIf="formationModal !== null && formationModal !== undefined" class="card">
    <p-fieldset legend="Description de la Formation" [toggleable]="false" class="line-height-3 m-0">
      <p [style.font-family]="'Arial, sans-serif'" 
         [style.font-size.px]="16" 
         [style.color]="'#333'" 
         [style.line-height]="'1.5'" 
         [style.margin]="'10px 0'" 
         [style.text-align]="'justify'" 
         [style.padding.px]="10" 
         [style.box-shadow]="'0 2px 4px rgba(0, 0, 0, 0.1)'" 
         [style.border-radius.px]="8">
        {{ formationModal.description }}
      </p>
    </p-fieldset>
  <br>
  <div *ngIf="formationModal && formationModal.modules">
    <p-fieldset legend="Les modules de la formation" [toggleable]="false" class="line-height-3 m-0">
      <p-listbox [options]="formationModal.modules" optionLabel="moduleName" [style]="{'font-family': 'Arial', 'font-size': '14px'}">
        <ng-template let-module pTemplate="item">
          <div class="p-d-flex p-ai-center p-py-2">
            <div class="p-mr-2"> <i><b>Module {{ formationModal.modules.indexOf(module) + 1 }} :</b></i></div>
            <div>{{ module.moduleName }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </p-fieldset>
  </div>
  
  </div>
</p-dialog>


<p-dialog [(visible)]="visibleAffectation" (onHide)="onDialogHideAffectation()" [style]="{width: '60vw', height: '50vh'}" header="Affecter la formation">
  <div class="field">
    <label htmlFor="utilisateurs">Utilisateurs</label>
    <p-multiSelect 
      [options]="utilisateurs" 
      optionLabel="username" 
      [(ngModel)]="selectedUtilisateurs"
      placeholder="Sélectionner des utilisateurs"
      [showClear]="true"
      [selectedItemsLabel]="'Utilisateurs sélectionnés'"
      [maxSelectedLabels]="1"
     />
  </div>

  <p-footer>
    <button pButton label="Affecter" icon="pi pi-check" (click)="affecterFormation()"></button>
    <button pButton label="Annuler" icon="pi pi-times" class="p-button-secondary" (click)="visibleAffectation = false"></button>
  </p-footer>
</p-dialog>


