<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card p-fluid">
      <h3>Ajouter un module</h3>
      <form [formGroup]="moduleForm" (ngSubmit)="handleSaveModule()">
        <div class="field">
          <label htmlFor="moduleName">Nom du Module</label>
          <input pInputText id="moduleName" type="text" formControlName="moduleName" />
          <span class="text-danger" *ngIf="moduleForm.controls['moduleName'].touched && moduleForm.controls['moduleName'].errors?.['required']">
            Le nom du module est requis
          </span>
        </div>

        <div class="field">
          <label htmlFor="documents">Documents</label>
          


          <p-multiSelect 
            [options]="documents" 
            optionLabel="documentName" 
            [formControl]="moduleForm.get('documents')"
            placeholder="Sélectionner des documents"
            [showClear]="true"/>
        </div>

        <button pButton pRipple type="submit" [disabled]="!moduleForm.valid" label="Enregistrer"></button>
      </form>
    </div>
    <ng-container *ngIf="pregressBar">
      <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </ng-container>
  </div>
</div>
