<div class="col-12">
    <div class="card">
      <h3>Gestion des sujets</h3>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <p-button label="Télécharger PDF" icon="pi pi-download" (click)="generatePDF3()"></p-button>
          </div>
        </ng-template>
      
        <ng-template pTemplate="right">
          <div class="my-2">
            <p-button label="Retour à la liste des sujets" icon="pi pi-arrow-left" (click)="goToPageDisplayAllSujets()"></p-button>
          </div>
        </ng-template>
      </p-toolbar>
  
  
  <section style="background-color: #eee;" id="htmlContainer">
    <div id="etus" class="container-fluid pt-2">
      <div class="row">
        <div class="col-md-8">
          <div #htmlContainer22 class="card">
            <div class="green-bar"></div>
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-center h-100 ml-2">
                  <!-- Ajout de la classe "ml-2" pour la marge gauche de 2 cm -->
                  <img src="/assets/img/logo_inti.png" width="120" height="120" alt="Logo INTI">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="card-title text-center" style="color: #efb145; font-family: 'Raleway', sans-serif; font-weight: bold;">Formation {{ formation.profile.libelle }}</h1>
             <br>
             <br>
             <br>
              <div class="project-detail">
                <h5 style="color:#016965; font-weight: bold; font-family: 'Raleway'; margin-top: 10px !important;">Description de la formation :</h5>
                <p class="text-lg font-medium">
                  {{formation.description}}
                </p>
              </div>
              <br>
              <br>

              <div class="project-detail">
                <h5 style="color:#016965; font-weight: bold; font-family: 'Raleway'; margin-top: 10px !important;">Modules :</h5>
                
              </div>
                
        
                
            
            </div>
          </div>
        </div>
        
     
        
      </div>
  
    </div>
  </section>
    </div>
  </div>