<div *ngIf="formation" class="image-container">
  <section style="background-color: #eee;" id="htmlContainer">
    <div id="etus" class="container-fluid pt-2">
      <div class="row">
        <div class="col-md-8">
          <div #htmlContainer22 class="card">
            <div class="green-bar"></div>
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-center h-100 ml-2">
                  <img src="/assets/img/logo_inti.png" width="120" height="120" alt="Logo INTI">
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </div>
            <div class="card-body">
              <h1 class="card-title text-center" style="color: #efb145; font-family: 'Raleway', sans-serif; font-weight: bold;">
                Formation {{ formation.profile.libelle }}
              </h1>
              <br><br><br>
              <div class="project-detail">
                <h5 style="color:#016965; font-weight: bold; font-family: 'Raleway'; margin-top: 10px !important;">Description de la formation :</h5>
                <p class="text-lg font-medium">
                  {{ formation.description }}
                </p>
              </div>
              <br><br>

              <div class="project-detail">
                <h5 style="color:#016965; font-weight: bold; font-family: 'Raleway'; margin-top: 10px !important;">Modules :</h5>
                <p-stepper orientation="vertical">
                  <p-stepperPanel *ngFor="let module of formation.modules; let i = index" [header]="'Module ' + (i + 1) + ': ' + module.moduleName">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback" let-index="index">
                      <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                          <div class="mt-4">
                            <div class="d-flex flex-wrap">
                              <div *ngFor="let document of module.documents" class="m-2 text-center">
                                <img [src]="getFileImage(document.documentUrl)" alt="file icon" style="width: 48px" (click)="openDocument(document.documentUrl)" />
                                <div class="mt-2">
                                  {{ document.documentName }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex pt-4 justify-content-between">
                        <p-button *ngIf="index > 0" label="Précédent" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                        <p-button *ngIf="index < formation.modules.length - 1" label="Suivant" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                      </div>
                    </ng-template>
                  </p-stepperPanel>
                </p-stepper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
